<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663182676963-hndiv3knruekug3n5jbb7egmfodukm7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663182676963-hndiv3knruekug3n5jbb7egmfodukm7q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>663182676963-52so8efpe4cuj6l3jpmrekroh8hst9u4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvfeCGkoI1C2vLRy_C_CwoERToj5Eqa-k</string>
	<key>GCM_SENDER_ID</key>
	<string>663182676963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gudex.peopledo</string>
	<key>PROJECT_ID</key>
	<string>ppldo-a03ab</string>
	<key>STORAGE_BUCKET</key>
	<string>ppldo-a03ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663182676963:ios:7c4071d50e9a7670</string>
	<key>DATABASE_URL</key>
	<string>https://ppldo-a03ab.firebaseio.com</string>
</dict>
</plist>